/* main要素のスタイル */
main {
    padding: 20px;
    background-color: #f9f9f9;
}

main > div {
    max-width: 800px;
    margin: 0 auto;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
}

main ul li p {
    margin: 0;
    font-size: 1.1em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

@media (min-width: 700px) {
    main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    main > div {
        width: 45%;
    }
}