:root {
    --primary-color: #d32f2f;
    --secondary-color: #f9f9f9;
  }

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem 0;
  position: relative;
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--secondary-color);
  position: absolute; 
  bottom: 0; 
  left: 0; 
}
  
.image-section img, .image-section picture {
    width: 100%;
    height: 100%;
}

.info-section {
  display: flex;
  flex-direction: column;
  position: relative; /*この値によって.dataはの位置安定し、.weatherがfooterの下にいってしまう*/
}
  
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
  
.data, .weather {
  margin-bottom: 1rem;
  background-color: rgba(249, 249, 249, 0.8);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

  @media (min-width: 768px) {
    
    .main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
  
    .data {
      width: 35%;
      margin: 0;
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: auto;
    }
  
    .weather {
      width: 35%;
      margin: 0;
      position: absolute;
      bottom: 150px;
      left: 20px;
      width: auto;
    }
  
    .image-section img {
      max-width: 100%;
      margin: 0;
      display: block;
    }
  }